#pontosDeControles{

	margin-top: 3%;
	background-color: #f1f1f1;
	
}

.nav-tabs a{

	color: #00CED1 !important;
}

#pontosDeControles h1 {
	color: #00CED1;
	font-size: 30px;
}

#pontosDeControles h2 {
	color: #00CED1;
	font-size: 24px;
}

#enviarPontos {
	width: 40%;
	margin: 0 auto;
	color: #00CED1;
	font-size: 16px;
	text-align: center;
	/*background-color: red;*/
	margin-bottom: 20px;
	margin-top: 20px;
}

#enviarPontos button{
	width: 40%;
	border: 1px solid #00CED1;
}

#enviarPontos button:hover{

	color: #999999;
}

/*#controleTamanho {
	width: 80%;
	margin: 0 auto;
	padding-bottom: 20px;
}
#nav_bar{

	margin: 0 auto;
	background-color: #00CED1;
	padding: 5px;
	color: #f1f1f1;
}

.navbar a {

	font-size: 15px;
	color: #f1f1f1 !important;

}
.navbar-brand{

	color: #f1f1f1 !important;

}*/

#tituloSite h1{
	text-align: center;
	color: #00CED1;
	font-size: 34px;
}
.nav_bar {
	width: 100%;
	padding: 5px;
	font-size: 24px;
	background-color: #00CED1;
}

#nameSite{
	margin-left: 10px;
}
#botoesControle{
	position: absolute;
    top: 8px;
    right: 16px;
	font-size: 24px;
	margin-right: 60px;
}

#botoesControle2{
	position: absolute;
    top: 8px;
    right: 16px;
	font-size: 24px;
}